// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$bronze: #b2a894;
$dark-bronze: #a09276;
$very-dark-bronze: #6d6354;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #404244;
$orange: #E67E22;
$yellow: #FFC65A;
